# DATA PREPROCESSING

**Data preprocessing from classification**

In [1]:
import pandas as pd

raw_data = pd.read_excel('raw_data.xlsx')
raw_data.to_csv('raw_data.csv', index=None, header=True)

raw_data

,Reservoir Fluid,Sampling,Sourse,Well,Test,Fluid,"Tcrit, K","Pcrit, MPa","MM, g/mole","GOR, sM3/sM3",...,"Pressure, Mpa",Volume water%,Vapor,Liquid,Aqua,"dP, MPa","dt, K",Unnamed: 24,Unnamed: 25,Unnamed: 26
0,Параметр категоризации,Параметр категоризации,Не учитывать в анализе,Не учитывать в анализе,Не учитывать в анализе,Не учитывать в анализе,Параметр категоризации и интерполяции,Параметр категоризации и интерполяции,Параметр категоризации и интерполяции,Параметр категоризации и интерполяции,...,Цель программы - прогноз этого параметра,Входной параметр от пользователя,Цель программы - прогноз этой категории,Цель программы - прогноз этой категории,Цель программы - прогноз этой категории,Цель программы - прогноз этой категории,Цель программы - прогноз этой категории,NaN,NaN,NaN
1,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,99.999932,-,Vapor,-,-,0.000068,0,NaN,NaN,NaN
2,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,89.127627,-,Vapor,-,-,10.872373,30,NaN,NaN,`
3,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,81.801254,-,Vapor,-,-,18.198746,50,NaN,NaN,NaN
4,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,74.406412,-,Vapor,-,-,25.593588,70,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12146,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,22.858235,-,Vapor,-,-,-10.858235,-60,NaN,NaN,NaN
12147,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,19.293268,-,Vapor,-,-,-7.293268,-40,NaN,NaN,NaN
12148,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,15.675815,-,Vapor,-,-,-3.675815,-20,NaN,NaN,NaN
12149,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,13.84561,-,Vapor,-,-,-1.84561,-10,NaN,NaN,NaN
12150,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,11.999993,-,Vapor,-,-,0.000007,0,NaN,NaN,NaN

In [2]:
raw_data = raw_data.iloc[1:]

raw_data

,Reservoir Fluid,Sampling,Sourse,Well,Test,Fluid,"Tcrit, K","Pcrit, MPa","MM, g/mole","GOR, sM3/sM3",...,"Pressure, Mpa",Volume water%,Vapor,Liquid,Aqua,"dP, MPa","dt, K",Unnamed: 24,Unnamed: 25,Unnamed: 26
1,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,99.999932,-,Vapor,-,-,0.000068,0,NaN,NaN,NaN
2,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,89.127627,-,Vapor,-,-,10.872373,30,NaN,NaN,`
3,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,81.801254,-,Vapor,-,-,18.198746,50,NaN,NaN,NaN
4,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,74.406412,-,Vapor,-,-,25.593588,70,NaN,NaN,NaN
5,Pure,Monophasic,PVTsim DataBase,-,-,C1,190.600006,4.600155,16.042879,Monophasic,...,66.937197,-,Vapor,-,-,33.062803,90,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12146,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,22.858235,-,Vapor,-,-,-10.858235,-60,NaN,NaN,NaN
12147,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,19.293268,-,Vapor,-,-,-7.293268,-40,NaN,NaN,NaN
12148,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,15.675815,-,Vapor,-,-,-3.675815,-20,NaN,NaN,NaN
12149,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,13.84561,-,Vapor,-,-,-1.84561,-10,NaN,NaN,NaN
12150,Wet gas,Separator,PVTsim database,Sep Gas,PT1,WG1,222.21,7.452,19.85,Monophasic,...,11.999993,-,Vapor,-,-,0.000007,0,NaN,NaN,NaN

In [7]:
raw_data['GOR, sM3/sM3'].drop_duplicates()

1       Monophasic
2251           NaN
2701          94.6
4951     28.344434
7201         136.7
9451        1583.1
Name: GOR, sM3/sM3, dtype: object

In [3]:
raw_data.columns

Index(['Reservoir Fluid', 'Sampling', 'Sourse', 'Well', 'Test', 'Fluid',
       'Tcrit, K', 'Pcrit, MPa', 'MM, g/mole', 'GOR, sM3/sM3',
       'Gas Dens, kg/m3', 'Oil Density, kg/m³', 'Water, % mole',
       'P sample, Mpa', 'T sample, K', 'Molar Volume, m3/mole',
       'Temperature, K', 'Pressure, Mpa', 'Volume water%', 'Vapor', 'Liquid',
       'Aqua', 'dP, MPa', 'dt, K', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26'],
      dtype='object')

In [4]:
fluids = raw_data[['Reservoir Fluid', 'Tcrit, K', 'Pcrit, MPa', 'MM, g/mole', 'Gas Dens, kg/m3']]


fluids

      Reservoir Fluid    Tcrit, K Pcrit, MPa MM, g/mole Gas Dens, kg/m3
1                Pure  190.600006   4.600155  16.042879            0.67
2                Pure  190.600006   4.600155  16.042879            0.67
3                Pure  190.600006   4.600155  16.042879            0.67
4                Pure  190.600006   4.600155  16.042879            0.67
5                Pure  190.600006   4.600155  16.042879            0.67
...               ...         ...        ...        ...             ...
12146         Wet gas      222.21      7.452      19.85            0.83
12147         Wet gas      222.21      7.452      19.85            0.83
12148         Wet gas      222.21      7.452      19.85            0.83
12149         Wet gas      222.21      7.452      19.85            0.83
12150         Wet gas      222.21      7.452      19.85            0.83

[12150 rows x 5 columns]

In [5]:
fluids = fluids.drop_duplicates().reset_index(drop=True)

fluids

   Reservoir Fluid    Tcrit, K Pcrit, MPa  MM, g/mole Gas Dens, kg/m3
0             Pure  190.600006   4.600155   16.042879            0.67
1             Pure  305.399994   4.883866    30.06982            1.26
2             Pure  369.799988   4.245518    44.09676        1.864225
3          Dry gas      268.13     10.252       23.05            0.96
4          Dry gas  214.841514   6.705641   18.151402            0.76
5          Wet gas      227.88      7.558       20.18           0.697
6          Sep Oil      639.33     11.254      108.89            1.41
7        Heavy oil  861.556596    7.34138  265.178033             0.7
8        Black oil      699.34     20.228      107.96            0.97
9         Gas Cond      269.56     28.016       32.65            0.96
10         Wet gas      222.21      7.452       19.85            0.83

**Expanding dataset with synthetic data**

**Data preprocessing for clustering**

In [6]:
experiments = raw_data[['Reservoir Fluid', 'Temperature, K', 'Pressure, Mpa']]

experiments

      Reservoir Fluid Temperature, K Pressure, Mpa
1                Pure         423.15     99.999932
2                Pure         393.15     89.127627
3                Pure         373.15     81.801254
4                Pure         353.15     74.406412
5                Pure         333.15     66.937197
...               ...            ...           ...
12146         Wet gas         313.15     22.858235
12147         Wet gas         293.15     19.293268
12148         Wet gas         273.15     15.675815
12149         Wet gas         263.15      13.84561
12150         Wet gas         253.15     11.999993

[12150 rows x 3 columns]

# Classification